{% set pageTitle = 'Документы - База «Южная»' %}
{% set pageDescription = 'База «Южная»: Документы' %}

{% extends "layouts/backoffice.njk" %}

{% block mainContent %}

    <section class="section section--nopadding" id="docs">
        <div class="container container--nopadding">
            <div class="page__backoffice">
                <div class="page__backoffice--column page__backoffice--first">
                    <div class="page__backoffice--sticky">
                        {% include "includes/backoffice-menu.njk" %}
                    </div>
                </div>

                <div class="page__backoffice--column page__backoffice--second">
                    <div class="page__backoffice--content">
                        <div data-react-component="documents"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}