{% set pageTitle = 'Ошибка - База «Южная»' %}
{% set pageDescription = 'Страница не найдена' %}

{% extends "layouts/default.njk" %}

{% block mainContent %}

    <section class="section" id="error">
        <div class="container">
            <div class="page__error">
                <h1 class="page__error--title">404</h1>
                <div class="page__error--message">Страница не найдена!</div>
            </div>
        </div>
    </section>

{% endblock %}