{% set pageTitle = 'Аренда помещений - База «Южная»' %}
{% set pageDescription = 'База «Южная»: аренда помещений в Ижевске' %}

{% extends "layouts/default.njk" %}

{% block mainContent %}

    <div data-react-component="premises"></div>

{% endblock %}