{% set pageTitle = 'Отчет - База «Южная»' %}
{% set pageDescription = 'АО “База «Южная»” Отчет данных аренды' %}

{% extends "layouts/empty.njk" %}

{% block mainContent %}

    <section class="section" id="report">
        <div class="container">
            <div data-react-component="webReport"></div>
        </div>
    </section>

{% endblock %}