{% set pageTitle = 'Войти - База «Южная»' %}
{% set pageDescription = 'База «Южная»: Личный кабинет' %}

{% extends "layouts/backoffice.njk" %}

{% block mainContent %}

    <section class="section" id="login">
        <div class="container">
            <div data-react-component="resetPassword"></div>
        </div>
    </section>

{% endblock %}